/** account_group/model.css */

.page-container {
    padding-inline: 5vw;
}
#authors-link{
    border-right: 0.5px solid #ffc746;
}
#account-link {
    border-top: 0.2px solid #ffc746;
}
#account-link .mobile-navigation-text {
    color: #ffc746;
}
.init-mobile-container {
    display: none;
}
main{
    background-color: #fafafa;
}
.title-menu-container {
    padding-top: 1.2rem;
    font-size: 0.75rem;
    border-bottom: 1.8px solid black;
}
.hamburguer-in-page-container span{
    background-color: black;
}
.profile-photo {
    margin-block: 1.5rem;
}
.account-group-menu {
    width: 100%;
    min-height: 100vh;
    padding-top: 65px;
    padding-bottom: 55px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    color: white;
    flex-flow: column nowrap;
}
.close-account-menu {
    padding-top: 1.8rem;
    padding-inline: 1.5rem;
}
.fa-angle-left{
    font-size: 1.5rem;
}
.menu-mobile {
    flex-grow: 1;
    align-items: center;
    display: flex;
}
.menu-mobile-list {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    height: 100%;
    justify-content: space-evenly;
}
.main-list .menu-mobile-item{
    padding-block: 1.2rem;
}
.menu-mobile-item[open="close"] {
    padding-block: 0;
}
.menu-mobile-item {
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}
.menu-mobile-item a{
    display: block;
    padding-block: 1.2rem;
}
.menu-mobile-item:hover {
    cursor: pointer;
}
.menu-pc {
    padding-top: 3rem;
    width: 90%;
    margin: 0 auto;
}
.main-content {
    width: 80%;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}
.menu-pc-list {
    display: flex;
    border-bottom: 1px solid black;
}
.menu-pc-item {
    margin-left: 1rem;
}
.menu-pc-item:first-child {
    padding-left: 0;
    margin-left: 0;
}
.menu-pc-item a, .menu-pc-item {
    padding: 0.6rem;
}
.menu-pc-item a{
    color: #000;
}
.pc-ag-navigation {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 2px gray;
    justify-content: space-around;
}
.pc-ag-navigation a{
    padding: 0.88rem;
}
.ag-main-container {
    width: 96%;
    margin: 0 auto;
}
.ag-title {
    padding-top: 1.6rem;
    text-align: center;
    font-size: 1.5rem;
}
body, #container{
    min-height: calc(var(--vh, 1vh) * 100)  !important;
}
body {
    margin-bottom: 5vh; 
}
.bl-wh {
    transition: .35s ease-in-out;
}
.page-title {
    color: #000 !important;
}
@media(max-width: 625px) {
    .init-pc-container, .pc-ag-navigation {
        display: none;
    }
    .init-mobile-container {
        display: block;
    }
    .main-content, .ag-main-container {
        width: 100%;
    }
}