<footer class="mobile-footer sb-x">
    <div class="navigation" id="posts-link">
        <img src="/media/assets/posts/mobile-footer/post.png" alt="nav-img" class="navigation-img">
        <h3 class="mobile-navigation-text">POSTS</h3>
    </div>

    <div class="navigation" id="categories-link">
        <img src="/media/assets/posts/mobile-footer/category.png" alt="nav-img" class="navigation-img">
        <h3 class="mobile-navigation-text">CATEGORIAS</h3>
    </div>

    <div class="navigation" id="authors-link">
        <img src="/media/assets/posts/mobile-footer/author.png" alt="nav-img" class="navigation-img">
        <h3 class="mobile-navigation-text">AUTORES</h3>
    </div>

    <div class="navigation" id="account-link">
        <img src="/media/assets/posts/mobile-footer/user.png" alt="nav-img" class="navigation-img">
        <h3 class="mobile-navigation-text">CONTA</h3>
    </div>
</footer>