<footer class="mobile-footer sb-x">
    <div class="navigation">
        <img src="/media/assets/posts/mobile-footer/folha-de-papel.png" alt="" class="navigation-img">
        <h3 class="mobile-navigation-text">POSTS</h3>
    </div>

    <div class="navigation">
        <img src="/media/assets/posts/mobile-footer/categorias.png" alt="" class="navigation-img">
        <h3 class="mobile-navigation-text">CATEGORIAS</h3>
    </div>

    <div class="navigation">
        <img src="/media/assets/posts/mobile-footer/blog.png" alt="" class="navigation-img">
        <h3 class="mobile-navigation-text">AUTORES</h3>
    </div>

    <div class="navigation">
        <img src="/media/assets/posts/mobile-footer/perfil-de-usuario.png" alt="" class="navigation-img">
        <h3 class="mobile-navigation-text">CONTA</h3>
    </div>
</footer>