<footer>
<div class="mobile-footer sb-x">
    <a href="/" class="navigation" id="posts-link">
        <img src="/media/assets/posts/mobile-footer/post.svg" alt="nav-img" class="navigation-img">
        <h3 class="mobile-navigation-text">POSTS</h3>
    </a>

    <a href="{% url 'categories' %}" class="navigation" id="categories-link">
        <img src="/media/assets/posts/mobile-footer/category.svg" alt="nav-img" class="navigation-img">
        <h3 class="mobile-navigation-text">CATEGORIAS</h3>
    </a>

    <a href="{% url 'authors' %}" class="navigation" id="authors-link">
        <img src="/media/assets/posts/mobile-footer/author.svg" alt="nav-img" class="navigation-img">
        <h3 class="mobile-navigation-text">AUTORES</h3>
    </a>

    <a href="{% url 'account_page' %}" class="navigation" id="account-link">
        <img src="/media/assets/posts/mobile-footer/user.svg" alt="nav-img" class="navigation-img">
        <h3 class="mobile-navigation-text">CONTA</h3>
    </a>
</div>
</footer>