<header>
    <div class="header-pc sb-x">
        <a href="/" class="sb-p1">
            <div class="logo sb-x">
                <img src="/media/assets/global/logo.png" alt="logo" id="dracula-logo">
                <div class="logo-title">
                    <h1 class="word-1">CODE</h1>
                    <h1 class="word-2">PORTAL</h1>
                </div>
            </div>
        </a>
        <nav class="sb-p2">
            <ul class="sb-x nav-x">
                <li class="search">
                    <form method="GET" class="sb-x">
                        <input type="text" name="search" id="search_box" placeholder="Posts, categorias e autores">
                        <button type="submit">
                            <img src="/media/assets/posts/lupa.png" alt="search-img" id="search-img">
                        </button>
                    </form>
                </li>
                <li>
                    <div class="menu">
                        <div class="hamburguer">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <nav class="sub-menu invisible">
                            <a href="{% url 'categories' %}">CATEGORIAS</a>
                            <a href="">AUTORES</a>
                            <a href="{% url 'login' %}">LOGIN</a>
                            <a href="{% url 'register' %}">CADASTRO</a>
                        </nav>
                    </div>
                </li>
            </ul>
        </nav>
    </div>  
</header>