<header>
    <div class="header-pc sb-x">
        <div class="sb-p1">
            <div class="logo sb-x">
                <img src="/media/assets/global/logo.png" alt="logo" id="dracula-logo">
                <h1>Dracula</h1>
            </div>
        </div>
        <nav class="sb-p2">
            <ul class="sb-x nav-x">
                <li>
                    <a href="">CATEGORIAS</a>
                </li>
                <li>
                    <a href="">AUTORES</a>
                </li>
                <li class="search sb-x">
                    <input type="text" name="search_box" id="search_box" placeholder="Posts, categorias e autores">
                    <img src="/media/assets/posts/lupa.png" alt="search-img" id="search-img">
                </li>
                <li>
                    <img src="/media/assets/global/user.png" alt="user-img" id="profile">
                </li>
            </ul>
        </nav>
    </div>  
</header>