{% extends 'base/login_group.html' %}


{% block links %}
<link rel="stylesheet" href="/static/styles/apps/accounts/login_group/login.css">
{% endblock %}



{% block content %}

<div id="form">
<div class="form-group">
    <p class="form-message">Informe seu email para criar uma nova senha.</p>
    {{ form }}
    {% csrf_token %}
    <button class="bl-wh" type="submit"><span id="submit-span">ENVIAR</span></button>          
</div>
<div class="shortcut center-r"><a href="{% url 'login' %}" class="link-login-group" destiny="register">Fazer login</a>
</div>
</div>

{% endblock %}



{% block javascript %}
<script type="module" src="/static/scripts/managers/apps/accounts/login_group/forgotPasswordEmail.js"></script>
{% endblock %}
