{% extends 'base/login_group.html' %}

{% block title %}CADASTRO{% endblock %}

{% block links %}
<link rel="stylesheet" href="/static/styles/apps/accounts/login_group/register.css">
{% endblock %}


{% block content %}
<div class="form-group">
    {{form}}
    {% csrf_token %}
    <button class="bl-wh" type="submit">CADASTRE-SE</button>
    <div class="js-check">
        <span><input type="checkbox" name="javascript" id="id_javascript" value="on" {{js_use}}>Usar javascript para validação</span>           
    </div>
</div>
<div class="shortcut center-r"><a href="{% url 'login' %}">Fazer login</a>
</div>
{% endblock %}

{% block javascript %}
<script type="module" src="/static/scripts/managers/apps/accounts/login_group/register.js"></script>
{% endblock %}