#container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

main{
    background-color: #343746;
    flex-grow: 1;
}

.main{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

footer{
    position: fixed;
    width: 100%;    
    bottom: 0;
    left: 0;
}
.mobile-footer {
    background-color: #000;
}