#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    flex-shrink: 0;
}

main{
    flex-grow: 1;
    overflow: auto;
    background-color: #343746;
}

.main{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

footer{
    flex-shrink: 0;
    background-color: #000;
}