<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load cache %}
    {% cache 7200 baseHead %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/media/assets/global/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/_compacts/min/fullBase.min.css">
    <title>CODE PORTAL</title>
    {% endcache %}
    <div class="style-animation">
        <link rel="stylesheet" href="/static/styles/features/colors/la1-2.css">
    </div>
    <div class="styles-group">
        <link rel="stylesheet" href="/static/styles/_compacts/min/main.min.css">
        <link rel="stylesheet" href="/static/styles/_compacts/min/account.min.css">
    </div>
    <div class="styles-individual">
        {% block links %}
        {% endblock %}
    </div>
    <title>{% block title %}CODE PORTAL{% endblock %}</title>
</head>
<body>
    
    <div id="container">
        {% include 'base/includes/_header.html' %}
        
        {% include 'base/includes/_load_animation.html' %}
        <main class="invisible">
            <div class="main">
                <div class="page-container flex-pass">
                    <div class="init-mobile-container">
                        <div class="title-menu-container sb-x">
                            <h1 class="title-menu">{% block mobileTitle %}{% endblock %}</h1>
                            <div class="hamburguer hamburguer-in-page-container">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="init-pc-container">
                        <nav class="menu-pc">
                            <ul class="menu-pc-list">
                                <li class="menu-pc-item account-pc-item"><a href="{% url 'account_page' %}">Conta</a></li>
                                <li class="menu-pc-item post-pc-item"><a href="{% url 'account_group_post_create' %}">Post</a></li>
                                <li class="menu-pc-item suggestions-pc-item"><a href="{% url 'account_group_suggestions_categories' %}">Sugestões</a></li>
                                <li class="menu-pc-item edit-pc-item"><a href="{% url 'account_group_edit_basic' %}">Editar</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="main-content center-c">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <div class="account-group-menu invisible">
                    <div class="close-account-menu end-r">
                        <i class="fa-solid fa-angle-left invisible"></i>
                        <div class="hamburguer hamburguer-mobile-menu open">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>        
                    </div>
                
                    <nav class="menu-mobile">
                        <ul class="menu-mobile-list main-list">
                            <li class="menu-mobile-item" open="post-list">POST</li>
                            <li class="menu-mobile-item" open="suggestions-list">SUGESTÕES</li>
                            <li class="menu-mobile-item" open="edit-list">EDITAR</li>
                            <li class="menu-mobile-item" open="close"><a href="{% url 'logout' %}">SAIR</a></li>
                        </ul>
                        <ul class="menu-mobile-list post-list invisible">
                            <li class="menu-mobile-item"><a href="{% url 'account_group_post_create' %}">CRIAR</a></li>
                            <li class="menu-mobile-item"><a href="{% url 'account_group_post_list_posts' %}">EDITAR</a></li>
                            <li class="menu-mobile-item"><a href="{% url 'account_group_post_list_drafts' %}">RASCUNHOS</a></li>
                        </ul>
                        <ul class="menu-mobile-list suggestions-list invisible">
                            <li class="menu-mobile-item"><a href="{% url 'account_group_suggestions_categories' %}">CATEGORIA</a></li>
                            <li class="menu-mobile-item"><a href="{% url 'account_group_suggestions_sub_categories' %}">SUBCATEGORIA</a></li>
                        </ul>
                        <ul class="menu-mobile-list edit-list invisible">
                            <li class="menu-mobile-item"><a href="{% url 'account_group_edit_basic' %}">BÁSICO</a></li>
                            <li class="menu-mobile-item"><a href="{% url 'account_group_edit_email' %}">EMAIL</a></li>
                            <li class="menu-mobile-item"><a href="{% url 'account_group_edit_password' %}">SENHA</a></li>
                        </ul>
                    </nav>
                    </div>
            </div>
        </main>

        
        {% include 'base/includes/_footer.html' %}
    </div>
    <div class="scripts" type="main">
        <script src="/static/scripts/_min/features/components/header/hamburguerAnimation.min.js"></script>
        <script src="/static/scripts/_min/features/components/header/inputWidthControl.min.js"></script>
        <script type="module" src="/static/scripts/SPA-renders/_main/baseMobile.js"></script>
        <script type="module"  src="/static/scripts/SPA-renders/_main/basePC.js"></script>
        <script type="module" src="/static/scripts/loaders/index.js"></script>
    </div>
    <div class="scripts" type="account">
        <script type="module" src="/static/scripts/features/apps/accounts/account_group/menu.js"></script>
        <script type="module" src="/static/scripts/features/apps/accounts/account_group/changeMenuMobile.js"></script>
        <script src="/static/scripts/features/components/main/dinamicVh.js"></script>
    </div>
    </div>
    <div class="scripts-individual">
        {% block javascript %}{% endblock %}
    </div>
</body>
</html>