<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load cache %}
    {% cache 7200 baseHead %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/static/media/assets/global/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/_compacts/min/fullBase.min.css">
    <title>CODE PORTAL</title>
    {% endcache %}
    <div class="style-animation">
        <link rel="stylesheet" href="/static/styles/features/colors/la1-1.css">
    </div>
    <div class="styles-group">
        <link rel="stylesheet" href="/static/styles/_compacts/min/login.min.css">
    </div>
    <div class="styles-individual">
        {% block links %}
        {% endblock %}
    </div>
</head>
<body>
    {% include 'base/includes/_load_animation.html' %}
    <main class="center-r invisible">
        <form method="POST" spellcheck="false" for="{{request.path}}">
            <div class="block-logo center-c">
                <a href="{% url 'latest_posts' %}">
                    <div class="logo center-r">
                        <img src="/static/media/assets/global/logo.png" alt="logo" id="dracula-logo">
                        <div class="logo-title">
                            <h1>CODE PORTAL</h1>
                        </div>
                    </div>
                </a>
            </div>
            {% block content %}
            {% endblock %}
        </form>
    </main>
    <div class="scripts-group">
    </div>
    <div class="scripts-individual">
        {% block javascript %}{% endblock %}
    </div>
</body>
</html>