{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'base/includes/_head.html' %}
    <link rel="stylesheet" href="/static/styles/core/base.css">
    <link rel="stylesheet" href="/static/styles/includes/header.css">
    <link rel="stylesheet" href="/static/styles/includes/body.css">
    <link rel="shortcut icon" href="/media/assets/global/favicon.ico" type="image/x-icon">
    {% block links %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <div id="container">
        {% include 'base/includes/_header_pc.html' %}
        
        {% block content %}
        {% endblock %}
    </div>

    <script src="/static/scripts/features/components/header/hamburguerAnimation.js"></script>
    <script src="/static/scripts/features/components/header/inputWidthControl.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>