{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'base/includes/_head.html' %}
    <link rel="shortcut icon" href="/media/assets/global/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/core/base.css">
    <link rel="stylesheet" href="/static/styles/includes/header.css">
    <link rel="stylesheet" href="/static/styles/includes/body.css">
    <link rel="stylesheet" href="/static/styles/includes/footer.css">
    <link rel="stylesheet" href="/static/styles/models/main.css">
    {% block links %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <div id="container">
        {% include 'base/includes/_header.html' %}
        
        <main>
            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        
        {% include 'base/includes/_footer.html' %}
    </div>

    <script type="module" src="/static/scripts/features/components/footer/focus.js"></script>
    <script src="/static/scripts/features/components/header/hamburguerAnimation.js"></script>
    <script src="/static/scripts/features/components/header/inputWidthControl.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>