{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load cache %}
    {% cache 7200 baseHead %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/static/media/assets/global/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/_compacts/min/fullBase.min.css">
    <title>CODE PORTAL</title>
    {% endcache %}
    <div class="style-animation">
        <link rel="stylesheet" href="/static/styles/features/colors/la1-2.css">
    </div>
    <div class="styles-group">
        <link rel="stylesheet" href="/static/styles/_compacts/min/main.min.css">
        <link rel="stylesheet" href="/static/styles/_compacts/min/account.min.css">
    </div>
    <div class="styles-individual">
        {% block links %}
        {% endblock %}
    </div>
</head>
<body>
    
    <div id="container">
        {% cache 7200 headerTop %}
        <header class="center-c">
            <div class="header-pc sb-x">
                <a href="/" class="sb-p1">
                    <div class="logo sb-x">
                        <img src="/static/media/assets/global/logo.png" alt="logo" id="dracula-logo">
                        <div class="logo-title center-c">
                            <h1 class="word-1">CODE</h1>
                            <h1 class="word-2">PORTAL</h1>
                        </div>
                    </div>
                </a>
                <nav class="sb-p2">
                    <ul class="sb-x nav-x">
                        <li class="search">
                            <form method="GET" class="sb-x">
                                <input type="text" name="search" id="search_box" placeholder="Posts, categorias e autores">
                                <button type="submit">
                                    <img src="/static/media/assets/posts/lupa.png" alt="search-img" id="search-img">
                                </button>
                            </form>
                        </li>
                        <li>
                            <div class="menu">
                                <div class="hamburguer">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <nav class="sub-menu invisible">
                                    <a href="/" destiny="posts" class="pc-link-navigation">POSTS</a>
                                    <a href="{% url 'categories' %}" destiny="categories" class="pc-link-navigation">CATEGORIAS</a>
                                    <a href="{% url 'authors' %}" destiny="authors" class="pc-link-navigation">AUTORES</a>
                                    {% endcache %}
                                    {% if  request.user.is_authenticated %}
                                    <a href="{% url 'account_page' %}" destiny="pass" class="pc-link-navigation">CONTA</a>
                                    <a href="{% url 'logout' %}" destiny="pass" class="pc-link-navigation">SAIR</a>
                                    {% else %}
                                    <a href="{% url 'login' %}" destiny="pass" class="pc-link-navigation">LOGIN</a>
                                    <a href="{% url 'register' %}" destiny="pass" class="pc-link-navigation">CADASTRO</a>
                                    {% endif %}
                                    {% cache 7200 headerBottom %}
                                </nav>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>  
        </header>
        {% endcache %}
        
        {% cache 7200 loadAnimation %}
        <div class="load-animation center-c">
            <div class="border-animation">
                <div class="animated-border"></div>
                <img src="/static/media/assets/global/logo.png" alt="logo" class="logo-animation white-logo-animation">
                <img src="/static/media/assets/global/black-logo.png" alt="logo" class="logo-animation black-logo-animation">
            </div>
        </div>
        {% endcache %}


        <main class="invisible">
            <div class="main">
                {% include 'base/includes/account_group/_choice_for_login.html' %}
            </div>
        </main>

        
        {% cache 7200 mobileFooter %}
        <footer>
        <div class="mobile-footer sb-x">
            <a href="/" class="navigation" id="posts-link">
                <img src="/static/media/assets/posts/mobile-footer/post.png" alt="nav-img" class="navigation-img">
                <h3 class="mobile-navigation-text">POSTS</h3>
            </a>

            <a href="{% url 'categories' %}" class="navigation" id="categories-link">
                <img src="/static/media/assets/posts/mobile-footer/category.png" alt="nav-img" class="navigation-img">
                <h3 class="mobile-navigation-text">CATEGORIAS</h3>
            </a>

            <a href="{% url 'authors' %}" class="navigation" id="authors-link">
                <img src="/static/media/assets/posts/mobile-footer/author.png" alt="nav-img" class="navigation-img">
                <h3 class="mobile-navigation-text">AUTORES</h3>
            </a>

            <a href="{% url 'account_page' %}" class="navigation" id="account-link">
                <img src="/static/media/assets/posts/mobile-footer/user.png" alt="nav-img" class="navigation-img">
                <h3 class="mobile-navigation-text">CONTA</h3>
            </a>
        </div>
        </footer>
        {% endcache %}
    </div>
    <div class="scripts" type="main">
        <script src="/static/scripts/_min/features/components/header/hamburguerAnimation.min.js"></script>
        <script src="/static/scripts/_min/features/components/header/inputWidthControl.min.js"></script>
        <script type="module" src="/static/scripts/loaders/index.js"></script>
    </div>
    <div class="scripts-individual">
        {% block javascript %}{% endblock %}
    </div>
</body>
</html>