{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/media/assets/global/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/_compacts/min/fullBase.min.css">
    <title>CODE PORTAL</title>
    <div class="style-animation">
        <link rel="stylesheet" href="/static/styles/features/colors/la1-2.css">
    </div>
    <div class="styles-group">
        <link rel="stylesheet" href="/static/styles/_compacts/min/main.min.css">
        <link rel="stylesheet" href="/static/styles/_compacts/min/account.min.css">
    </div>
    <div class="styles-individual">
        {% block links %}
        {% endblock %}
    </div>
    <title>{% block title %}CODE PORTAL{% endblock %}</title>
</head>
<body>
    
    <div id="container">
        {% include 'base/includes/_header.html' %}
        
        {% include 'base/includes/_load_animation.html' %}
        <main class="invisible">
            <div class="main">
                {% include 'base/includes/account_group/_choice_for_login.html' %}
            </div>
        </main>

        
        {% include 'base/includes/_footer.html' %}
    </div>
    <div class="scripts" type="main">
        <script src="/static/scripts/features/components/header/hamburguerAnimation.js"></script>
        <script src="/static/scripts/features/components/header/inputWidthControl.js"></script>
        <script type="module" src="/static/scripts/SPA-renders/main/baseMobile.js"></script>
        <script type="module"  src="/static/scripts/SPA-renders/main/basePC.js"></script>
        <script type="module" src="/static/scripts/loaders/index.js"></script>
    </div>
    <div class="scripts-individual">
        {% block javascript %}{% endblock %}
    </div>
</body>
</html>