.choice-container{
    width: 100%;
    min-height: 100vh;
}

.choice-for-login{
    margin: 5vw;
    max-width: 300px;
    width: 100%;
}

hr{
    width: 40%;
}

.or{
    width: 100%;
    margin: 0.25rem auto;
}

.account-img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    border: 1px solid black;
}

.profile {
    width: 100%;
}


.profile-data {
    margin: 0 auto;
    max-width: 540px;
}

.basic-data {
    padding-block: 0.6rem;
    border-top: 1px solid rgb(85, 85, 85);
}

.profile-data:last-child {
    border-bottom: 1px solid rgb(85, 85, 85);
}

.basic-data span {
    display: block;
}

.basic-data .basic-data-description {
    color: rgb(105, 105, 105);
    font-size: 0.75rem;
    margin-bottom: 0.2rem;
}

.basic-data .basic-data-information {
    font-size: 0.9rem;
}

.account-pc-item a{
    font-weight: bold;
}

@media(max-width: 350px){
    .choice-for-login{
        width: 90vw;
    }
}