.ag-main-container {
    max-width: 540px;
}
.ag-form {
    margin-top: 1rem;
}
.ag-form-group {
    padding-block: 0.75rem;
    width: 100%;
}
.input{
    border: 1.5px solid black;
    text-indent: 0.4rem;
    height: 6vh;
    min-height: 57.5px !important;
    width: 100%;
    font-size: 1rem;
    outline: none;
}
.ag-label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}
textarea {
    text-indent: 0.4rem;
    padding-top: 0.4rem;
}
.btn-save {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.bl-wh {
    align-self: flex-end;
    margin-bottom: 1.2rem;
}