{% extends 'base/base.html' %}

{% block title %}LOGIN{% endblock %}


{% block links %}
<link rel="stylesheet" href="/static/models/flex.css">
<link rel="stylesheet" href="/static/includes/header.css">
<link rel="stylesheet" href="/static/apps/accounts/login.css">
{% endblock %}



{% block content %}
<main>
    <form method="POST" spellcheck="false">
        <div class="block-logo">
            <a href="{% url 'latest_posts' %}">
                <div class="logo">
                    <img src="/media/assets/global/logo.png" alt="logo" id="dracula-logo">
                    <div class="logo-title">
                        <h1>CODE PORTAL</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="form-group">
            {{ form }}
            <button type="submit">LOGIN</button>
        </div>
        <div class="create-an-account"><a href="{% url 'register' %}">Cadastre-se</a>
        </div>
    </form>
</main>

{% endblock %}


