{% extends 'base/base.html' %}

{% block title %}LOGIN{% endblock %}


{% block links %}
<link rel="stylesheet" href="/static/models/flex.css">
<link rel="stylesheet" href="/static/includes/header.css">
<link rel="stylesheet" href="/static/apps/accounts/login.css">
<link rel="stylesheet" href="/static/components/messages.css">
{% endblock %}



{% block content %}
<main>
    <form method="POST" spellcheck="false">
        <div class="block-logo">
            <a href="{% url 'latest_posts' %}">
                <div class="logo">
                    <img src="/media/assets/global/logo.png" alt="logo" id="dracula-logo">
                    <div class="logo-title">
                        <h1>CODE PORTAL</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="form-group">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {{ form }}
            {% csrf_token %}
            <button type="submit">LOGIN</button>
            <div class="js-check">
                {% if request.session.not_use_javascript %}
                <span><input type="checkbox" name="javascript" id="id_javascript" value="on">Usar javascript para validação</span>
                {% else %}
                <span><input type="checkbox" name="javascript" id="id_javascript" value="on" checked>Usar javascript para validação</span>
                {% endif %}
            </div>            
        </div>
        <div class="create-an-account"><a href="{% url 'register' %}">Fazer cadastro</a>
        </div>
    </form>
</main>

{% endblock %}



{% block javascript %}
<script type="module" src="/static/managers/accounts/login.js"></script>
{% endblock %}
