{% extends 'base/main.html' %}



{% block links %}
<link rel="stylesheet" href="/static/styles/apps/categories/list_categories.css">
{% endblock %}


{% block content %}


<div class="page-container flex-pass">
    <h1 class="page-title">Programação</h1>
    <div class="main-container-f w-se-x">
        {% for subcategory in subcategories %}
        <a href="/" class="box">
            <div class="box-body center-c">
                <img src="{{subcategory.img}}" alt="post-img" class="box-img">
                <h2 class="box-title">{{subcategory.name}}</h2>
            </div>
        </a>
        {% endfor %}
        
    </div>
</div>
{% endblock %}






{% block javascript %}
{% endblock %}