{% extends 'base/main.html' %}

{% block title %}CODE PORTAL{% endblock %}


{% block links %}
<link rel="stylesheet" href="/static/styles/models/flex.css">
<link rel="stylesheet" href="/static/styles/apps/posts/index.css">
{% endblock %}


{% block content %}


<div class="posts-page">
    <h1 class="last-posts">Categorias</h1>
    <div class="posts">
        <a href="/" class="post">
            <div class="post-body">
                <img src="/media/assets/posts/brasil.jpg" alt="post-img" class="post-img">
                <h2 class="post-title">5G no Brasil</h2>
            </div>
        </a>
        
    </div>
</div>
{% endblock %}






{% block javascript %}
{% endblock %}