{% extends 'base/main.html' %}

{% block title %}CODE PORTAL{% endblock %}


{% block links %}
<link rel="stylesheet" href="/static/styles/apps/categories/list_categories.css">
{% endblock %}


{% block content %}


<div class="page-container flex-pass">
    <h1 class="page-title">Categorias</h1>
    <div class="main-container w-sb-x">
        <a href="/" class="box">
            <div class="box-body">
                <img src="/media/assets/posts/brasil.jpg" alt="post-img" class="box-img">
                <h2 class="box-title">Tecnologia</h2>
            </div>
        </a>
        
    </div>
</div>
{% endblock %}






{% block javascript %}
{% endblock %}