#box-category .box-img, #box-subcategory .box-img{
    max-width: 100%;
    height: 10rem;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
#box-category.box, #box-subcategory.box {
    width: 16rem !important;
    max-width: 90vw;
}