#categories-link .mobile-navigation-text {
    color: #ffc746;
}
#categories-link {
    border-top: 0.2px solid #ffc746;
    border-right: 0.5px solid #ffc746;
}
#posts-link {
    border-right: 0.5px solid #ffc746;
}