{% extends 'accounts/account_group/suggestions/_model.html' %}

{% block moreLinks %}
<link rel="stylesheet" href="/static/styles/apps/accounts/account_group/suggestions/categories.css">
<link rel="stylesheet" href="/static/styles/components/error.css">
<link rel="stylesheet" href="/static/styles/components/messages.css">
{% endblock %}

{% block mainContent %}
{{ message }}
<h1 class="ag-title">Minhas sugestões</h1>
<div class="suggestions flex-pass">
    <div class="add-suggestion">
        <span><i class="fa-solid fa-plus"></i> Adicionar</span>
    </div>
    {% csrf_token %}
    {{suggestions}}

    <!-- <div class="suggestion-block center-c reject">
        <div class="suggestion-block-top sb-x">
            <span class="suggestion-name">Futebol</span>
            <div class="suggestion-status-color"><img src="/media/assets/account_group/suggestions/close.png" alt="" class="suggestion-img"></div>
        </div>
        <div class="suggestion-block-bottom sb-x">
            <span>Status</span>
            <span>Recusado</span>
        </div>
    </div> -->
    <!-- 
    <div class="suggestion-block center-c loading">
        <div class="suggestion-block-top sb-x">
            <span class="suggestion-name">Futebol</span>
            <div class="suggestion-status-color"><img src="/media/assets/account_group/suggestions/time.png" alt="" class="suggestion-img"></div>
        </div>
        <div class="suggestion-block-bottom sb-x">
            <span>Status</span>
            <span>Em andamento</span>
        </div>
    </div>
    <div class="suggestion-block center-c accept">
        <div class="suggestion-block-top sb-x">
            <span class="suggestion-name">Futebol</span>
            <div class="suggestion-status-color"><img src="/media/assets/account_group/suggestions/check.png" alt="" class="suggestion-img"></div>
        </div>
        <div class="suggestion-block-bottom sb-x">
            <span>Status</span>
            <span>Aceito</span>
        </div>
    </div> 
-->
    <!-- <div class="suggestion-block center-c">
        <form class="suggestion-block-top sb-x">
            <span class="suggestion-name"><input type="text" name="suggestion" id="id_suggestion" class="input-suggestion-name"></span>
            <div class="suggestion-status-color"><i class="fa-solid fa-circle-exclamation"></i></div>
        </form>
        <div class="suggestion-block-bottom sb-x">
            <span>Status</span>
            <span>Em andamento</span>
        </div>
    </div> -->
    <!-- <div class="no-suggestions flex-pass"><span class="no-suggestions-msg">Você não fez nenhuma sugestão</span></div> -->
</div>
{% endblock %}


{% block  javascript %}
<script type="module" src="/static/scripts/features/apps/accounts/account_group/suggestion/addSugestion.js"></script>
{% endblock %}