{% extends 'accounts/account_group/suggestions/_model.html' %}

{% block moreLinks %}
<link rel="stylesheet" href="/static/styles/apps/accounts/account_group/suggestions/sub_categories.css">
{% endblock %}

{% block mainContent %}
<h1 class="ag-title">Minhas sugestões</h1>
<div class="suggestions flex-pass">
    <div class="add-suggestion">
        <span><i class="fa-solid fa-plus"></i> Adicionar</span>
    </div>
</div>
{% endblock %}

{% block  javascript %}
<script src="/static/scripts/features/apps/accounts/account_group/suggestion/addSugestion.js"></script>
{% endblock %}