#dracula-logo{
    width: 2rem;
    margin-right: 0.5rem;
}

header{
    background-color: black;
}

.header-pc{
    background-color: black;
    color: white;
    padding: 0.8rem 1.1rem;
    max-width: 1500px;
    margin: 0 auto;
}

.nav-x li{
    list-style: none;
    
}

nav a{
    color: white;
    padding: 0.25rem 0.5rem;
}


.search{
    background-color: white;
    padding: 0.5rem 0.6rem 0.5rem 0.8rem;
    border-radius: 25rem;
    margin-left: 0.5rem;
}

.search input{
    border: none;
    background-color: transparent;
    width: 22.5rem;
    color: black;
}


#search-img{
    width: 1rem;
}

#profile{
    width: 2.2rem;
    margin-inline: 0.5rem 0rem;
    padding: 0.25rem;
    border-radius: 50%;
    border: 2px white solid;
}


.logo h1{
    font-weight: 200;
    font-size: 1.5rem;
}



.logo-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.02;
}

.logo-title .word-1{
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
}

.logo-title .word-2{
    font-size: 1.2rem;
}