{% extends 'base/main.html' %}



{% block links %}
<link rel="stylesheet" href="/static/styles/apps/posts/index.css">
{% endblock %}


{% block content %}

<div class="page-container flex-pass">
    <h1 class="page-title">Últimos posts</h1>
    <div class="main-container">
        {% for post in posts %}
        <a href="/" class="box">
            <div class="box-body center-c">
                <img src="{{post.img}}" alt="post-img" class="box-img">
                <h2 class="post-title">{{post.title}}</h2>
                <p class="box-description">{{post.description}}</p>
                <div class="box-info sb-x">
                    <span class="post-category">{{post.category}}</span>
                    <span class="post-date">{{post.date}}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}






{% block javascript %}
<input type="hidden" name="SPGT" id="SPGT" value="{{ SPGT }}">
{% endblock %}