#posts-link .mobile-navigation-text {
    color: #ffc746;
}
#posts-link {
    border-top: 0.2px solid #ffc746;
    border-right: 0.5px solid #ffc746;
}
.box-description{
    font-size: 0.75rem;
}
.box-info{
    width: 100%;
    margin-top: 0.6rem;
    font-size: 0.7rem;
}