@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#posts-link .mobile-navigation-text {
    color: #ffc746;
}

#posts-link {
    border-top: 0.2px solid #ffc746;
    border-right: 0.5px solid #ffc746;
}

#post{
    color: white;
    text-align: justify;
    width: 80vw;
    max-width: 840px;
    margin: 0 auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.post-title{
    text-align: center;
    margin: 2rem 0;
}


@media(max-width: 768px){
    #post{
        width: 85vw;
    }
}

@media(max-width: 625px){
    #post{
        width: 90vw;
    }
}

@media(max-width: 300px){
    #post{
        width: 96vw;
    }
}