{% extends 'base/account_group.html' %}



{% block links %}
<link rel="stylesheet" href="/static/styles/apps/accounts/account_group/account_page.css">
<link rel="stylesheet" href="/static/styles/components/buttons.css">
{% endblock %}


{% block mobileTitle %}Conta{% endblock %}


{% block content %}
    <div class="profile">
        <div class="profile-photo center-c">
            <img src="/media/assets/posts/mobile-footer/user-yellow.png" alt="profile-photo-img" class="account-img">
        </div>
        <div class="profile-data">
            <div class="basic-data">
                <span class="basic-data-description">NOME</span>
                <span class="basic-data-information">{{ user.name }}</span>
            </div>
            <div class="basic-data">
                <span class="basic-data-description">EMAIL</span>
                <span class="basic-data-information">{{ user.email }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}