#authors-link{
    border-right: 0.5px solid #ffc746;
}

#account-link {
    border-top: 0.2px solid #ffc746;
}

#account-link .mobile-navigation-text {
    color: #ffc746;
}

main{
    background-color: #fafafa;
}

.main{
    width: 100%;
    height: 100%;
}
.choice-container{
    width: 100%;
    height: 100%;
}

.choice-for-login{
    margin: 5vw;
    max-width: 300px;
    width: 100%
}

hr{
    width: 40%;
}

.or{
    width: 100%;
    margin: 0.25rem auto;
}

@media(max-width: 350px){
    .choice-for-login{
        width: 90vw;
    }
}