<main class="base">
    <div class="body" style="min-height: 100vh; background-color: #343746; font-family: 'Fira Code', Arial, Helvetica, sans-serif; ">
        <div class="mail-container" style="margin: 0 auto; width: 90%; max-width: 350px; padding-top: 3vh;">
            <div class="code-box">
                <div class="block-logo center-c" style="background-color: black; height: 6vh;  min-height: 70px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <a href="{% url 'latest_posts' %}" style="color: white; text-decoration: none;">
                        <div class="logo center-r" style="display: flex; align-items: center; justify-content: center;">
                            <img src="{{host}}/media/assets/global/logo.png" alt="logo" id="dracula-logo">
                            <div class="logo-title" style="display: flex; flex-direction: column; align-items: center; justify-content: center;
                            line-height: 1.02; word-spacing: -0.5rem; margin-left: 0.2rem;">
                                <h1 style="font-weight: 200; font-size: 1.5rem;">CODE PORTAL</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="block-body" style="background-color: white; padding: 1.5rem 1rem 1.5rem 1rem;">
                    <div class="block-text">Link para alterar a senha : <a href="{{host}}/{% url 'forgot_password' %}?email={{email}}&token={{token}}">Clique aqui</a>. Este link é válido pelos próximos 10 minutos</div>
                </div>
            </div>
        </div>
    </div>
</div>