#box-author.box{
    width: 14rem !important;
    max-width: 80vw;
}
#box-author .box-img{
    border-radius: 50%;
    height: 5rem;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
    display: block;
}
@media(max-width: 450px){
    #box-author .box-body{
        max-width: 57.5vw;
        text-align: center;
    }
}
@media(max-width: 300px){
    #box-author .box-body{
        max-width: 72.5vw;
        text-align: center;
    }
}