{% extends 'accounts/account_group/edit/_model.html' %}

{% block moreLinks %}
<link rel="stylesheet" href="/static/styles/apps/accounts/account_group/edit/password.css">
<link rel="stylesheet" href="/static/styles/apps/accounts/account_group/form.css">
<link rel="stylesheet" href="/static/styles/components/error.css">
{% endblock %}

{% block mainContent %}
<h1 class="ag-title">Senha</h1>
<form method="POST" class="ag-form center-c flex-pass" id="password_form">
    {{ form }}
    {% csrf_token %}
    <div class="btn-save">
        <button class="bl-wh" type="submit">SALVAR</button>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script type="module" src="/static/scripts/managers/apps/accounts/account_group/edit/password.js"></script>
{% endblock %}