{% extends 'accounts/account_group/post/_model.html' %}

{% block moreLinks %}
<link rel="stylesheet" href="/static/styles/apps/accounts/account_group/post/create.css">
<link rel="stylesheet" href="/static/styles/apps/accounts/account_group/form.css">
<link rel="stylesheet" href="/static/styles/components/error.css">
{% endblock %}


{% block mainContent %}
<h1 class="ag-title">Novo Post</h1>
<form method="POST" class="ag-form center-c" enctype="multipart/form-data" id="create-post-form">
    {{form1}}
    <div class="ag-form-group">
        <label for="text" class="ag-label">Texto:</label>
        {{summer_field}}
    </div>
    {{form2}}
    {% csrf_token %}
    <button class="bl-wh" type="submit"><span id="submit-span">CRIAR RASCUNHO</span></button>
</form>
{% endblock %}

{% block javascript %}
<script type="module" src="/static/scripts/features/apps/accounts/account_group/edit/post/changeMainImg.js"></script>
<script src="/static/scripts/features/apps/accounts/account_group/edit/post/changeSubcategories.js"></script>
<script  src="/static/scripts/features/components/forms/checkBoxContainer.js"></script>
{% endblock %}